.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

.bm-item:hover {
  color: white;
}

.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  left: 0px;
  top: 0px;
  background: #373a47;
}

.bm-burger-bars {
  background: #ffffff;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
  margin-left: -140px !important;
}


.bm-cross {
  background: #fefeff;
  margin-left: -140px;
}

.bm-menu {
  background: #373a47;
  padding: 3em 3em 0;
  font-size: 1.15em;
  width: 200px;
  margin-left: -50px;
}

.bm-morph-shape {
  fill: #373a47;
  width: '600px';
}

.bm-item-list {
  color: #b8b7ad;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}